/** Administration enhacements **/
.page-node-add .vertical-tabs,
.page-node-edit .vertical-tabs {
    padding-bottom: 100px;
}

.page-node-add .form-actions,
.page-node-edit .form-actions {
    position: fixed;
    bottom: 0;
    margin-top: 0px;
    padding-top: 3px;
    width: 100%;
    left: 0;
    padding-left: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.page-node-add .form-actions input#edit-submit,
.page-node-add .form-actions input#edit-preview,
.page-node-edit .form-actions input#edit-submit,
.page-node-edit .form-actions input#edit-preview {
    margin-bottom: 0px;
    font-size: 1.2em;
}

.adminimal-frontend table td,
.adminimal-frontend table th {
    vertical-align: middle;
    padding: 8px 10px;
    border: 1px solid lightgray;
    color: #000;
}

.filter-guidelines {
    display: none;
}

.field-name-field-text-hesla .form-item label{
    background: #E1E2DC;
    padding: 10px 15px;
    margin: 0;
}
.field-name-field-text-hesla .form-item .form-textarea-wrapper .cke_textarea_inline{
    padding: 5px 7px;
    border: 1px solid #ddd;
    background: #fff;
    color: #333;
}
